/*
--------- COLORS -----------
#28262C - Raisin Black
#998FC7 - Blue Shell
#D4C2FC - Lavender Blue
#F9F5FF - Magnolia
#14248A - Resolution Blue
*/

/* 
*
* UNIVERSAL
*
*/

body {
  font-family: "Poppins", sans-serif;
  color: #28262c;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

input {
  margin-bottom: 1em;
}

hr {
  width: 100%;
}

.btn {
  background-color: #14248a;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #14248ad7;
}

.link {
  text-decoration: underline;
  color: #28262c;
}

.link:hover {
  text-decoration: none;
}

/* 
*
* NAVBAR
*
*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px 15px 15px;
}

.welcome-statement {
  margin-right: 1rem;
  color: #14248a;
}

.navbar-icons {
  width: 32px;
  height: 32px;
}

#logo-img-nav {
  width: 200px;
  height: 50px;
}

.nav-link-container {
  display: flex;
}

nav a {
  margin-right: 1em;
  margin-top: 1em;
}

.navbar-btn {
  margin-top: 1em;
  height: 32px;
}

.log-btn {
  padding: 0 0.5rem;
}

/* 
*
* LOGIN / SIGNUP
*
*/

.login-signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.login-signup-btn {
  font-size: 19px;
  font-weight: bold;
  height: 56px;
  width: 500px;
}

.login-signup-input {
  padding: 9px 8px;
  width: 480px;
}

/* 
*
* USER -> PROFILE
*
*/

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.profile-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  column-gap: 100px;
}

.profile-first-name {
  grid-row: 1;
  grid-column: 1;
}

.profile-last-name {
  grid-row: 1;
  grid-column: 2;
}

.profile-email {
  grid-row: 2;
  grid-column: 1;
}

.profile-password {
  grid-row: 2;
  grid-column: 2;
}

.profile-edit-link {
  margin-bottom: 5%;
}

.view-order-history-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  font-size: 19px;
  font-weight: bold;
  height: 56px;
  justify-content: center;
}

/* 
*
* USER -> EDIT PROFILE
*
*/

.edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.edit-profile-input {
  padding: 9px 8px;
  width: 480px;
}

.edit-profile-btn {
  font-size: 19px;
  font-weight: bold;
  height: 56px;
  width: 500px;
  margin-bottom: 20px;
}

/* 
*
* USER -> EDIT PROFILE
*
*/

.purchase-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchase-history-order-container {
  /* display: flex;
  flex-direction: column; */
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 5%;
  padding: 2%;
}

.purchase-history-total {
  display: flex;
  justify-content: flex-end;
}

/* 
*
* USER DIRECTORY COMPONENT
*
*/

.directory-container {
  box-shadow: inset 0px 0px 0px 3px #e7e7e7;
  border-radius: 10px;
  margin: 1rem;
}

.directory-container > p {
  margin: 0;
  padding: 1.2rem 1rem;
  font-size: 30px;
  background-color: #14248a;
  color: #f9f5ff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* 
*
* USER DIRECTORY COMPONENT -> USER TABLE
*
*/

.user-table {
  margin: 1rem;
  padding: 0 0 1rem 0;
}

.user-table table {
  border-collapse: collapse;
}

.user-table th {
  background-color: #14248a;
  color: #f9f5ff;
}

.user-table th,
td {
  border-top: 2px solid gray;
  padding: 5px;
}

.user-table tr {
  margin: 0.5rem;
}

.user-table td,
tr div {
  padding-left: 0.5rem;
}

.pagination-container span {
  margin-right: 1rem;
}

thead tr:first-child {
  width: 100px;
}

/* 
*
* CHECKOUT PAGE -> COLLAPSIBLE
*
*/

.content {
  border: 1px solid rgb(128, 123, 123);
  padding: 0.5rem;
  border-radius: 5px;
}

.content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.9s;
}

.content-show {
  height: 200px;
  overflow: hidden;
  transition: height ease 0.9s;
}

.toggleButton {
  display: block;
  width: 100%;
}

/*
*
* CHECKOUT PAGE
*
*/

#shipping-billing-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
*
* SINGLE PRODUCT
*
*/

.single-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  max-width: 1000px;
  padding: 100px;
}

.single-product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-product-addToCart {
  font-size: 19px;
}

.single-product-img {
  padding: 50px;
}

.single-product-brand {
  color: #737178;
  font-size: 10px;
}

/*
*
* ALL PRODUCT PAGE
*
*/

.all-product-container {
  margin: 0 1rem;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: inset 0px 0px 0px 3px #e7e7e7;
}

.all-product-header {
  background-color: #14248a;
  color: #f9f5ff;
  padding: 1rem;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.all-products {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.all-products-product {
  flex: 0 0 20%;
  margin: 1rem;
  width: 300px;
}

.all-products-product a {
  text-decoration: none;
  color: #14248a;
}

.all-products-product a:hover {
  text-decoration: underline;
  color: #364ee8;
}

.product-actions {
  display: flex;
}

.product-actions h2 {
  margin: 0 1rem 0 0;
}

.add-cart-btn {
  background-color: #14248a;
  color: #e7e7e7;
  border: none;
  font-weight: 500;
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

/*
*
* PAGINATION BUTTONS
*
*/

.all-product-container > ul {
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: #14248a;
  padding: 1rem;
}

li a {
  font-size: 20px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  color: #f9f5ff;
  cursor: pointer;
  border-right: 1px solid #0c154f;
  border-top: 1px solid #0c154f;
  border-bottom: 1px solid #0c154f;
}

li:first-child a {
  border-left: 1px solid #0c154f;
}

.selected a {
  background-color: #f9f5ff;
  color: #14248a;
}

/*
*
* NOT FOUND
*
*/

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
*
* ADMIN PANEL
*
*/

#create-product {
  display:flex;
  align-items: baseline;
  justify-content: space-evenly;
}